<nav
  class="navbar fixed-top navbar-expand-md bg-primary bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Dating App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      @if(!isAuthenticated){
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Messages</a>
        </li>
      </ul>
      } @else {
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
      </ul>
      } @if(!isAuthenticated){
      <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
        <input
          class="form-control me-2"
          placeholder="Username"
          aria-label="username"
          name="username"
          [(ngModel)]="model.username"
        />
        <input
          class="form-control me-2"
          placeholder="Password"
          aria-label="password"
          name="password"
          [(ngModel)]="model.password"
        />
        <button class="btn btn-secondary" type="submit">Login</button>
      </form>
      } @else{
      <div id="user-menu" dropdown class="btn-group px-2 float-end">
        <a
        id="button-user-menu"
          dropdownToggle
          class="btn dropdown-toggle text-light"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Welcome {{ userFullName }}
        </a>
        <div id="dropdown-user-menu" *dropdownMenu class="dropdown-menu">
          <a href="profile" class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" href="#" class="dropdown-item">Logout</a>
        </div>
      </div>
      }
      <!-- @if(!isAuthenticated){
      <div dropdown class="btn-group px-2 float-end">
        <button
          id="button-login-slider"
          dropdownToggle
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-controls="dropdown-basic"
          aria-expanded="false"
        >
          Login
        </button>
        <div
          id="dropdown-login-slider"
          *dropdownMenu
          class="dropdown-menu dropdown-menu-end px-4"
          role="menu"
          aria-labelledby="button-basic"
        >
          <app-login></app-login>
        </div>
      </div>
      } @else {
        <div id="user-menu" dropdown class="btn-group px-2 float-end">
          <a
          id="button-user-menu"
            dropdownToggle
            class="btn dropdown-toggle text-light"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Welcome {{ model.fullName }}
          </a>
          <div id="dropdown-user-menu" *dropdownMenu class="dropdown-menu">
            <a href="profile" class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a href="logout" class="dropdown-item">Logout</a>
          </div>
        </div>
      } -->
    </div>
  </div>
</nav>
