<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To
    inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="Azure.*" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="dotnet-ef" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="Mono.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Humanizer.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>